<h2>produtos</h2>
<!--estado 1: carregando-->
@if (carregando()){
    <p><strong>carregando produtos, aguarde...</strong></p>
}
<!--estado 2 : erro-->
@if(erro()){
    <p><strong style="color: red;"> {{erro() }} </strong></p>
    <button (click)="carregarProdutos()">tente novamente</button>
}
@if (!carregando() && !erro()) {
@for (item of produtos(); track $index) {
<app-produto
[nome]="item.nome"
[preco]="item.preco"
(produtoSelecionado)="exibirProduto($event)"
>
</app-produto>
<button (click)="adicionarAocarrinho(item)">Adicionar ao Carrinho</button>
}
}

<hr>
<h2>Carrinho</h2>
 
@for (item of carrinho(); track $index){
<p>{{item.nome}} - {{item.preco | precoFormatado}}</p>
} 
<hr>
<p><strong>Quanti de itens:</strong>{{ quantidadeCarrinho() }}</p>
<p><strong>Valor total: </strong>{{totalCarrinho() |precoFormatado}}</p>
