<h2>Produtos Favoritos</h2>

<input
  type="text"
  placeholder="Digite o nome do produto"
  [(ngModel)]="novoProduto"
/>

<button
  type="button"
  (click)="adicionarFavorito()"
>
  Adicionar
</button>

@if (favoritos().length === 0) {
  <p>Nenhum produto favorito adicionado</p>
} @else {
  @for (item of favoritos(); track item) {
    <div>
      <span>{{ item }}</span>

      <button
        type="button"
        (click)="removerFavorito(item)"
      >
        Remover
      </button>
    </div>
  }
}