mat-toolbar {
  display: flex;
   background-color: #f89bba;
  flex-wrap: wrap;
}

.flex-spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 8px;
}

.email-usuario {
  font-size: 15px;
  color: rgb(0, 0, 0);
}
